<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.glivion.plasticdiary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PlasticDiaryApp"
        android:allowBackup="true"
        android:icon="@drawable/plastic_diary"
        android:label="@string/app_name"
        android:roundIcon="@drawable/plastic_diary"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlasticDiary">
        <activity
            android:name=".view.ui.ViewAllContentTypeActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.QuizDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.QuizActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.WebViewActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.MapItemActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.IntroActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.MainActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" />

        <service android:name=".services.FCMMessagingService" android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"
                    android:stopWithTask="false"/>
            </intent-filter>
        </service>

<!--        <service android:name=".services.TerminateQuizService" android:stopWithTask="false" />-->

    </application>

</manifest>